@import url("reset.css");

.container {
  width: 1200px;
  margin: 0 auto;
}

.first-box,
.first-flex {
  background: yellow;
  font-size: 0;
}

.first-box div,
.second-flex div,
.third-flex div,
.second-box div,
.third-box div,
.first-flex div {
  outline: 2px solid red;
}

.first-box > div {
  width: 400px;
  height: 400px;
  display: inline-block;
  font-size: 20px;
}

.first-flex {
  display: flex;
}

.first-flex > div {
  width: 400px;
  height: 400px;
  font-size: 20px;
}

.second-box,
.second-flex {
  font-size: 0;
  background: rgb(6, 197, 231);
}

.second-box > div {
  display: inline-block;
  width: 800px;
  font-size: 20px;
  vertical-align: top;
}

.second-flex > div {
  width: 800px;
  font-size: 20px;
}

.second-flex {
  display: flex;
}

.second-box > div > div,
.second-flex > div > div {
  height: 200px;
}

.second-box > div + div,
.second-flex > div + div {
  width: 400px;
}

.second-box > div + div > div,
.second-flex > div + div > div {
  height: 133.333px;
}

.third-box,
.third-flex {
  background: orange;
  font-size: 0;
}

.third-box > div {
  display: inline-block;
  font-size: 20px;
}

.third-flex {
  display: flex;
}

.third-flex > div {
  font-size: 20px;
}

.third-box-one,
.third-flex-one {
  width: 400px;
  height: 400px;
}

.third-box-two,
.third-flex-two {
  width: 800px;
}

.third-box-two > div,
.third-flex-two > div {
  height: 200px;
}

.third-box-three {
  font-size: 0;
}

.third-box-three > div {
  font-size: 20px;
  display: inline-block;
  width: 400px;
  height: 200px;
}

.third-flex-three {
  display: flex;
}

.third-flex-three > div {
  font-size: 20px;
  width: 400px;
  height: 200px;
}

.third-box-four > div,
.third-flex-four > div {
  height: 100px;
}
